

<ion-content padding class="home" scroll="false">

  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 10%">
    
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 40%; color: #fff">
        <img src="assets/imgs/DSRReefing.png" alt="DSR Reefing">
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 40%">
        <section *ngIf="isLoggedIn">
          Welcome {{user.displayName}}
          <button ion-button full (click)="logout()" >Logout</button>
        </section>
      
    
      <button *ngIf="!isLoggedIn && enabledLogins.indexOf('facebook') >= 0" ion-button full (click)="fbLogin()" class="loginBtn loginBtn--facebook">Login with Facebook</button>
      <button *ngIf="!isLoggedIn && enabledLogins.indexOf('googleplus') >= 0" ion-button full (click)="googleLogin()" class="loginBtn loginBtn--google">Login with Google</button>
      <p>v{{appVersion}}</p>
    </ion-row>
    
  </ion-grid>

</ion-content>
