<!--
  Generated template for the Addaquariumstep1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="mode == 'ADD'">{{ 'AddAquarium' | translate }}</ion-title>
    <ion-title *ngIf="mode == 'EDIT'">{{ 'EditAquarium' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{ 'Aquarium Details' | translate }}</h2>
  <ion-list>
    <ion-item>
      <ion-label>*{{ 'Aquarium Name' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="aquarium.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Aquarium Occupation' | translate }}</ion-label>
      <ion-select [(ngModel)]="aquarium.occupation">
        <ion-option *ngFor="let type of occupationtypes" [value] = "type.name">{{type.descr}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <h2>{{ 'Location Label' | translate }}</h2>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'Location Country' | translate }}</ion-label>
      <ion-select [(ngModel)]="aquarium.country">
        <ion-option *ngFor="let country of countries" [value] = "country.code" selected="{{country.selected}}">{{country.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>*{{ 'Location City' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="aquarium.location"></ion-input>
    </ion-item>
  </ion-list>
  <h2>{{ 'Measurements Label' | translate }}</h2>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'Aquarium Length' | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="aquarium.aquarium_lngth" (change)='updateTotalValue()' min="5" max="1000"></ion-input>
      <p item-right>cm</p>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'Aquarium Width' | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="aquarium.aquarium_width" (change)='updateTotalValue()' min="5" max="1000"></ion-input>
      <p item-right>cm</p>
    </ion-item>

    <ion-item>
        <ion-label>{{ 'Water Height' | translate }}</ion-label>
        <ion-input type="number" [(ngModel)]="aquarium.aquarium_waterheight" (change)='updateTotalValue()' min="5" max="1000"></ion-input>
        <p item-right>cm</p>
    </ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-item>
      <ion-label>{{ 'Has Sump' | translate }}</ion-label>
      <ion-checkbox checked="false" [(ngModel)]="aquarium.sump_active" (ionChange)='updateTotalValue()'></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="aquarium.sump_active">
      <ion-item>
        <ion-label>{{ 'Sump Length' | translate }}</ion-label>
        <ion-input type="number" [(ngModel)]="aquarium.sump_lngth" (change)='updateTotalValue()' min="5" max="1000"></ion-input>
        <p item-right>cm</p>
      </ion-item>
  
      <ion-item>
        <ion-label>{{ 'Sump Width' | translate }}</ion-label>
        <ion-input type="number" [(ngModel)]="aquarium.sump_width" (change)='updateTotalValue()' min="5" max="1000"></ion-input>
        <p item-right>cm</p>
      </ion-item>
  
      <ion-item>
          <ion-label>{{ 'Sump Water Height' | translate }}</ion-label>
          <ion-input type="number" [(ngModel)]="aquarium.sump_waterheight" (change)='updateTotalValue()' min="5" max="1000"></ion-input>
          <p item-right>cm</p>
      </ion-item>
  </ion-list>

  
  <ion-list no-lines>
      <ion-item>
        <ion-label>{{ 'Has Refugium' | translate }}</ion-label>
        <ion-checkbox checked="false" [(ngModel)]="aquarium.refugium_active" (ionChange)='updateTotalValue()'></ion-checkbox>
      </ion-item>
    </ion-list>
  
    <ion-list *ngIf="aquarium.refugium_active">
        <ion-item>
          <ion-label>{{ 'Refugium Length' | translate }}</ion-label>
          <ion-input type="number" [(ngModel)]="aquarium.refugium_lngth" (change)='updateTotalValue()' min="5" max="1000"></ion-input>
          <p item-right>cm</p>
        </ion-item>
    
        <ion-item>
          <ion-label>{{ 'Refugium Width' | translate }}</ion-label>
          <ion-input type="number" [(ngModel)]="aquarium.refugium_width" (change)='updateTotalValue()' min="5" max="1000"></ion-input>
          <p item-right>cm</p>
        </ion-item>
    
        <ion-item>
            <ion-label>{{ 'Refugium Water Height' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="aquarium.refugium_waterheight" (change)='updateTotalValue()' min="5" max="1000"></ion-input>
            <p item-right>cm</p>
        </ion-item>
    </ion-list>

    <ion-item>
        <ion-label>{{ 'Bruto Water Volume' | translate }}:</ion-label>
        <ion-input type="number" [(ngModel)]="watervolumebruto" disabled="true"></ion-input>
      <p item-right>l</p>
    </ion-item>

    <ion-list no-lines>
        <ion-item>
          <ion-label>{{ 'Detail Calculation Active' | translate }}?</ion-label>
          <ion-checkbox checked="true" [(ngModel)]="aquarium.detailedestimation_active" (ionChange)='updateTotalValue()'></ion-checkbox>
        </ion-item>
      </ion-list>
    
      <ion-list *ngIf="aquarium.detailedestimation_active">
          <ion-item>
            <ion-label>{{ 'Stone Volume' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="aquarium.de_rockformation" (change)='updateTotalValue()' min="0" max="1000"></ion-input>
            <p item-right>kg</p>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'Rock Type' | translate }}</ion-label>
            <ion-select [(ngModel)]="aquarium.de_rockformationtype" (change)='updateTotalValue()'>
              <ion-option *ngFor="let type of rocktypes" [value] = "type.name">{{type.descr}} ({{type.factor}})</ion-option>
              <ion-option value="other">Custom Factor</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="aquarium.de_rockformationtype == 'other'">
            <ion-label>{{ 'Rock Custom Correction Factor' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="aquarium.de_rockformationcustomfactor"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'Sand Volume' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="aquarium.de_sandvolume" (change)='updateTotalValue()' min="0" max="1000"></ion-input>
            <p item-right>kg</p>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'Sand Type' | translate }}</ion-label>
            <ion-select [(ngModel)]="aquarium.de_sandvolumetype" (change)='updateTotalValue()'>
              <ion-option *ngFor="let type of sandtypes" [value] = "type.name">{{type.descr}} ({{type.factor}})</ion-option>
              <ion-option value="other">Custom Factor</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="aquarium.de_sandvolumetype == 'other'">
            <ion-label>{{ 'Sand Custom Factor' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="aquarium.de_sandvolumecustomfactor" (change)='updateTotalValue()'></ion-input>
        </ion-item>
      </ion-list>



      <ion-list no-lines>
        <ion-item>
          <ion-label>{{ 'Volume Correction Active' | translate }}?</ion-label>
          <ion-checkbox checked="false" [(ngModel)]="aquarium.volumecorrection_active" (ionChange)='updateTotalValue()'></ion-checkbox>
        </ion-item>
      </ion-list>
    
      <ion-list *ngIf="aquarium.volumecorrection_active">
          <ion-item>
            <ion-label>{{ 'Volume Correction' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="aquarium.volumecorrection" (change)='updateTotalValue()' min="0" max="1000"></ion-input>
            <p item-right>l</p>
          </ion-item>
      </ion-list>

      <ion-item>
        <ion-label>{{ 'Total Water Volume' | translate }}:</ion-label>
        <ion-input type="number" [(ngModel)]="watervolume" disabled="true"></ion-input>
      <p item-right>l</p>
    </ion-item>
    <button  *ngIf="mode == 'ADD'" (click)='next()' ion-button>{{ 'NextButton' | translate }}</button>
    <button  *ngIf="mode == 'EDIT'" (click)='save()' ion-button>{{ 'SaveButton' | translate }}</button>
</ion-content>