<!--
  Generated template for the AquariumdosingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{aquarium.name}} ({{aquarium.DSRmethod}})</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="DSRmethod">
      <ion-segment-button value="EZ" (click)="calculateDosings('EZ')">
        EZ
      </ion-segment-button>
      <ion-segment-button value="FULLDSR" (click)="calculateDosings('FULLDSR')">
        FULL DSR
      </ion-segment-button>
      <!--<ion-segment-button value="MIXED" (click)="calculateDosings('MIXED')">
        Mixed
      </ion-segment-button>-->
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list *ngIf="nomeasurements">
        {{ 'No measurements found' | translate }}
    </ion-list>

    <ion-list>
        <ion-list-header>{{ 'Dosing volumes' | translate }}</ion-list-header>
        <ion-card *ngIf="DSRmethod === 'FULLDSR' || DSRmethod === 'MIXED'">
          <ion-item text-wrap style="background-color:coral; color: white;">
            {{ 'Beta Warning' | translate }}
          </ion-item>
        </ion-card>
        
        <div *ngFor="let parameter of parameters">
          <ion-item>
            <ion-avatar item-start>
              <ion-icon *ngIf="aquarium.dosings[parameter]['status'] == 'low'" name="arrow-dropup-circle"></ion-icon>
              <ion-icon *ngIf="aquarium.dosings[parameter]['status'] == 'high'" name="arrow-dropdown-circle"></ion-icon>
              <ion-icon *ngIf="aquarium.dosings[parameter]['status'] == 'perfect'" name="thumbs-up"></ion-icon>
              <ion-icon *ngIf="aquarium.dosings[parameter]['status'] == 'ok'" name="thumbs-up"></ion-icon>
            </ion-avatar>
            <h2 *ngIf="aquarium.dosings[parameter].correctionvalue == undefined">{{aquarium.dosings[parameter].productname}} {{(aquarium.dosings[parameter].dosing * (aquarium.totalwatervolume / 100)) | number : '1.2-2'}} {{aquarium.dosings[parameter].unit}}</h2>
            <h2 *ngIf="aquarium.dosings[parameter].correctionvalue != undefined && aquarium.dosings[parameter].correctiontype != '%'" class="secondary">* {{aquarium.dosings[parameter].productname}} {{(aquarium.dosings[parameter].correctionvalue) | number : '1.2-2'}} {{aquarium.dosings[parameter].unit}}</h2>
            <h2 *ngIf="aquarium.dosings[parameter].correctionvalue != undefined && aquarium.dosings[parameter].correctiontype == '%'" class="secondary">** {{aquarium.dosings[parameter].productname}} {{(aquarium.dosings[parameter].correctionvalue) | number : '1.2-2'}} {{aquarium.dosings[parameter].unit}}</h2>
            <p *ngIf="aquarium.dosings[parameter].correctiondays != undefined" item-right> {{ 'for' | translate }} {{aquarium.dosings[parameter].correctiondays}} {{ 'days' | translate }}</p>
            <p *ngIf="aquarium.dosings[parameter].correctiondays == undefined" item-right> {{ 'per day' | translate }}</p>
            <p *ngIf="aquarium.dosings[parameter].correctionvalue != undefined">{{ 'Normal value' | translate }}: {{(aquarium.dosings[parameter].dosing * (aquarium.totalwatervolume / 100)) | number : '1.2-2'}} {{aquarium.dosings[parameter].unit}}</p>
            <p *ngIf="aquarium.dosings[parameter].missingmeasurement">{{ 'No measurements found' | translate }}</p>
          </ion-item>
        </div>
        <p *ngIf="correctionvalues">(*) Verhoogde/verlaagde dosering gedurende het verloop van 1 week. <br />
          (**) Dagelijkse verhoging met x % Vanaf de gemeten datum voor max 7 dagen.
        </p>
    </ion-list>
</ion-content>
